{% extends 'gallery/main.html' %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>{{ image.title }}</title>
</head>
<body>
    <h1>{{ image.title }}</h1>
    <img src="{% url 'serve_image' image.file_path %}" alt="{{ image.title }}">
    <!-- <p>{{ image.description }}</p> -->
    <!-- <p>Uploaded at: {{ image.uploaded_at }}</p> -->
    <p>Tag: {% for tag in image.tags.all %}{{ tag.name }} {% endfor %}</p>

    <!-- Form to add tags -->
    <h2>Add Tag</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Tag</button>
    </form>


    <a href="{% url 'image_list' %}">Back to gallery</a>
</body>
</html>



{% endblock content %}