{% extends 'gallery/main.html' %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>

</head>
<body>
    <h1>Image Gallery</h1>
    <div>
        <a href="changes/"><p>Click here for changes.</p></a>
    </div>
    <div class="gallery">
        {% for image in images %}
            <div class="image-container">
                <!-- <h2>{{ image.title }}</h2> -->
                <a href="{% url 'image_detail' image.id %}">
                    <img src="{% url 'serve_image' image.file_path %}" alt="{{ image.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>



{% endblock content %}

