{% extends 'gallery/main.html' %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>{{ image.title }}</title>
</head>
<body>
    <h1>{{ image.title }}</h1>
    <img src="{% url 'serve_image' image.file_path %}" alt="{{ image.title }}">
    <!-- <p>{{ image.description }}</p> -->
    <!-- <p>Uploaded at: {{ image.uploaded_at }}</p> -->
    <!-- Location Tags -->
    {% if location_tags %}
        <h2>Location Tags</h2>
        <ul>
            {% for tag in location_tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Time Tags -->
    {% if time_tags %}
        <h2>Time Tags</h2>
        <ul>
            {% for tag in time_tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Miscellaneous Tags -->
    {% if misc_tags %}
        <h2>Miscellaneous Tags</h2>
        <ul>
            {% for tag in misc_tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Form to add tags -->
    <h2>Add Tag</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Tag</button>
    </form>


    <a href="{% url 'image_list' %}">Back to gallery</a>
</body>
</html>



{% endblock content %}